body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
/* input[type="text"]:valid {
  color: green;
} */
fieldset {
  margin-top: 0.5rem;
  padding-left: 0;
  border: none;
}
fieldset legend {
  visibility: hidden;
}
fieldset ul {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}
main {
  display: grid;
  justify-content: center;
  margin-top: 25vh;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  min-width: 50vw;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 4px 2px 4px 6px rgba(0, 0, 30, 0.1), 2px 5px 4px rgba(0, 0, 30, 0.3);
}
.form_group {
  display: flex;
  justify-content: flex-start;
}
.form_group span {
  opacity: 0.9;
  font-size: 14px;
  font-weight: 300;
}
label {
  font-weight: 600;
}
button {
  align-self: center;
  padding: 0.5rem;
}
